@tailwind base;
@tailwind components;
@tailwind utilities;

/* App-specific defaults */
:root {
  --brand-500: #0ea5e9;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
